
@{
    ViewBag.Title = "Customer List";
    Layout = "~/Areas/Staff/Views/Shared/_LayoutPage.cshtml";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content" ng-controller="CustomerController">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post" ng-cloak>
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
          
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card header-->
                <div class="card-header border-0 pt-6">
                    <!--begin::Card title-->
                    <div class="card-title fw-medium">
                        Booking List
                    </div>
                    <!--begin::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar" ng-if="filteredData.length!= 0">
                        <!--begin::Toolbar-->
                        <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">

                            <!--begin::Export-->
                            <button type="button" class="btn btn-light-primary me-3" ng-click="exportData('BookingList','xlsx',filteredData)">
                                <i class="ki-duotone ki-exit-up fs-2">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>Export
                            </button>
                            <!--end::Export-->

                        </div>
                        <!--end::Toolbar-->

                    </div>
                    <!--end::Card toolbar-->

                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    
                    <div class="table-responsive" id="tbl_bookinglist" style="display:none;">
                        <!--begin::Table-->
                        <table class="table table-bordered gs-7 gy-7 gx-7" id="kt_customers_table" datatable="ng" dt-options="vm.dtOptions">
                            <thead>
                                <tr>
                                    <th class="min-w-50px">S.no</th>
                                    <th class="min-w-100px">Name</th>
                                    <th class="min-w-50px">Customer ID</th>
                                    <th class="min-w-50px">Task No</th>
                                    <th class="min-w-50px">Customer Type</th>
                                    <th class="min-w-100px">Area</th>
                                    <th class="min-w-100px">Property Name</th>
                                    <th class="min-w-100px">Building Name</th>
                                    <th class="min-w-100px">Apt. Number</th>
                                    <th class="min-w-100px">Apt. Type</th>
                                    <th class="min-w-100px">Service Type</th>
                                    <th class="min-w-100px">Service Category</th>
                                    <th class="min-w-100px">Package</th>
                                    <th class="min-w-100px">No Of Months</th>
                                    <th class="min-w-100px">Package Price</th>
                                    <th class="min-w-100px">Service Date</th>
                                    <th class="min-w-100px">Duration</th>
                                    <th class="min-w-100px">Start Time</th>
                                    <th class="min-w-100px">End Time</th>
                                    <th class="min-w-50px">Status</th>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="book in filteredData | filter: searchbook">
                                    <td ng-bind="$index+1"></td>
                                    <td>
                                        <a href="" ng-bind="book.Name" data-bs-toggle="modal" data-bs-target="#kt_modal_remilist" ng-click="GetPersonalDtls(book)"></a>
                                    </td>
                                    <td ng-bind="book.CustomerID !=null ?'UHS_CT_'+book.CustomerID : 'N/A'">
                                    </td>
                                    <td ng-bind="book.TaskNo !=null ?'UHS_TAS_'+book.TaskNo : 'N/A'"></td>
                                    <td>
                                        <span class="badge py-3 px-4 fs-7" ng-class="{ 'badge-light-info':book.CustomerType == null,
        'badge-light-primary': book.CustomerType == 'New',
        'badge-light-success': book.CustomerType == 'Existing'}" ng-bind="book.CustomerType || 'N/A'"></span>
                                    </td>
                                    @*<td ng-bind="book.CreatedOn | date:'fullDate'"></td>*@
                                    <td ng-bind="book.Area">
                                    </td>
                                    <td ng-bind="book.PropertyName"></td>
                                    <td ng-bind="book.OtherLocation!=null?book.OtherLocation.BuildingName:'N/A'"></td>
                                    <td ng-bind="book.ApartmentName || 'N/A'"></td>
                                    <td ng-bind="book.PropertyResidencyType || 'N/A'"></td>
                                    <td ng-bind="book.SubCategory || 'N/A'"></td>
                                    <td ng-bind="book.GetServices.length!=0?book.GetServices.length:'N/A'"></td>
                                    <td ng-bind="book.PackageName || 'N/A'"></td>
                                    <td ng-bind="book.NoOfDays"></td>
                                    <td ng-bind="book.Price + ' QR'"></td>
                                    <td ng-bind="getFormattedDate(book.Date) | date:'fullDate'"></td>
                                    <td ng-bind="book.Duration + ' ' + book.Measurement"></td>
                                    <td ng-bind="book.StartTime"></td>
                                    <td ng-bind="book.EndTime"></td>
                                    <td>
                                        <span class="badge py-3 px-4 fs-7" ng-class="{ 'badge-light-info':book.WorkStatus == 1,
        'badge-light-primary': book.WorkStatus == 2,
        'badge-light-success': book.WorkStatus == 3}" ng-bind="book.WorkStatus==1?'Open':book.WorkStatus==2?'Pending':book.WorkStatus==3?'Closed':'N/A'"></span>
                                    </td>


                                    <td>
                                        <a class="btn btn-light btn-active-light-primary btn-flex btn-center btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action <i class="ki-duotone ki-down fs-5 ms-1"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#rating" ng-click="RatingModal(book)">Rating</a>
                                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#closedTask" ng-click="ClosedModal(book)">Close Task</a>

                                            @*<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#complaing" ng-click="ComplainModal(book)">complaint</a>*@

                                        </div>
                                    </td>

                                </tr>


                            </tbody>
                        </table>
                        <!--end::Table-->
                    </div>
                    <div id="tbl_dummybooking">
                        <table class="table">
                            <thead>
                                <tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
                                    <th class="min-w-50px">S.no</th>

                                    <th class="min-w-100px">Area</th>
                                    <th class="min-w-100px">Property Name</th>
                                    <th class="min-w-100px">A. Number</th>
                                    <th class="min-w-100px">A. Type</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="10" style="color:blue;" id="spanLoader"><span><b>Loading...</b></span></td>
                                    <td colspan="10" style="color:red;display:none;" id="spanEmptyRecords"><span>No records found!</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->



            <div class="modal fade" id="kt_modal_serviceslist" tabindex="-1" aria-hidden="true">
                <!--begin::Modal dialog-->
                <div class="modal-dialog modal-dialog-centered mw-850px">
                    <!--begin::Modal content-->
                    <div class="modal-content">
                        <!--begin::Modal header-->
                        <div class="modal-header" id="kt_modal_add_customer_header">
                            <!--begin::Modal title-->
                            <h2 class="fw-bold">Services List</h2>
                            <!--end::Modal title-->
                            <!--begin::Close-->
                            <div data-bs-dismiss="modal" class="btn btn-icon btn-sm btn-active-icon-primary">
                                <i class="ki-outline ki-cross fs-1"></i>
                            </div>
                            <!--end::Close-->
                        </div>
                        <!--end::Modal header-->
                        <!--begin::Modal body-->
                        <div class="modal-body py-10 px-lg-17">
                            <div class="card">

                                <div class="card-body">

                                    <div class="table-responsive border-bottom mb-5" id="tbl_servicesList" style="display:none;">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="min-w-175px">Service Category</th>
                                                    <th class="min-w-175px">Sub Category</th>
                                                    <th class="min-w-70px">Quantity</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="" ng-repeat="servs in ServiceList">
                                                    <td ng-bind="servs.ServiceCategoryName"></td>
                                                    <td ng-bind="servs.ServiceSubCategoryName"></td>
                                                    <td ng-bind="servs.Quantity"></td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>


                                    <div class="table-responsive border-bottom mb-5" id="tbl_dummyservices">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="min-w-175px">Service Category</th>
                                                    <th class="min-w-175px">Sub Category</th>
                                                    <th class="min-w-70px">Quantity</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="8" style="color:blue;" id="spanservLoader"><span><b>Loading...</b></span></td>
                                                    <td colspan="8" style="color:red;display:none;" id="spanEmptyservRecords"><span>No records found!</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <!--begin::Scroll-->
                            <!--end::Input group-->


                        </div>
                        <!--end::Modal body-->

                    </div>
                </div>
            </div>


            <div class="modal fade" id="kt_modal_remilist" tabindex="-1" aria-hidden="true">
                <!--begin::Modal dialog-->
                <div class="modal-dialog modal-dialog-centered mw-850px">
                    <!--begin::Modal content-->
                    <div class="modal-content">
                        <!--begin::Modal header-->
                        <div class="modal-header" id="kt_modal_add_customer_header">
                            <!--begin::Modal title-->
                            <h2 class="fw-bold">Customer Details</h2>
                            <!--end::Modal title-->
                            <!--begin::Close-->
                            <div data-bs-dismiss="modal" class="btn btn-icon btn-sm btn-active-icon-primary">
                                <i class="ki-outline ki-cross fs-1"></i>
                            </div>
                            <!--end::Close-->
                        </div>
                        <!--end::Modal header-->
                        <!--begin::Modal body-->
                        <div class="modal-body py-10 px-lg-17">

                            <div class="row">
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Customer Name:</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.Name"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Contact Number</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.Mobile || 'N/A'"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">WhatsApp Number</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.WhatsAppNo || 'N/A'"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Alternate Number</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.AlternativeNo || 'N/A'"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Email ID</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.Email || 'N/A'"></label>
                                </div>

                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Start Date</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.Date || 'N/A'"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">End Date</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.EndDate || 'N/A'"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Special Instruction</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.Remarks || 'N/A'"></label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Key Collection:</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AvailabilityList != null ? (AvailabilityList.KeyCollection != null ? 'Yes' : 'No') : ''"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Access Details</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AvailabilityList.AccessProperty || 'N/A'"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Date:</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AvailabilityList.ReceptionDate==null ? 'N/A' : AvailabilityList.ReceptionDate.replace('/Date(','').replace(')/','') | date"></label>
                                </div>


                            </div>

                            <div class="row" ng-if="GetDetails.IsCarWash != null && GetDetails.IsCarWash != false">
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Car Type</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.CarType"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Car Service Type</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.CarServiceType"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Parking Level</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.CustomCarDetails.ParkingLevel"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Parking Number</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.CustomCarDetails.ParkingNumber"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Vehicle Brand</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.CustomCarDetails.VehicleBrand"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Vehicle Color</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.CustomCarDetails.VehicleColor"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Vehicle Number</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.CustomCarDetails.VehicleNumber"></label>
                                </div>
                            </div>

                            <div class="row" ng-if="GetDetails.OtherLocation != null">
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Tower Name:</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.OtherLocation.TowerName"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Building Number</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.OtherLocation.BuildingName"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Street Number</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.OtherLocation.StreetNumber"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Zone Number</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.OtherLocation.ZoneNumber"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Location</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="GetDetails.OtherLocation.Loacation"></label>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <label for="phone" class="control-label">Location URL</label><br />
                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;">
                                        <a href="{{GetDetails.OtherLocation.LocationLink}}" ng-bind="GetDetails.OtherLocation.LocationLink"></a>
                                    </label>
                                </div>
                            </div>

                            <div class="row" ng-if="GetDetails.Files != null">
                                <div class="col-sm-12">

                                    <a href="{{image.Value}}" class="mr-2" ng-repeat="image in GetDetails.Files" data-toggle="lightbox" data-gallery="img-gallery" data-title="Incident Images" data-max-width="600">
                                        <img class="img-responsive" ng-src="{{image.Value}}" style="width:200px;height:200px;" />
                                    </a>
                                </div>
                            </div>


                        </div>
                        <!--end::Modal body-->

                    </div>
                </div>
            </div>

           

            <div class="modal fade" id="closedTask" tabindex="-1" aria-hidden="true">
                <!--begin::Modal dialog-->
                <div class="modal-dialog modal-dialog-centered mw-650px">

                    <!--begin::Modal content-->
                    <div class="modal-content">
                        <form class="form" name="ClosedTaskForm" novalidate>
                            <!--begin::Modal header-->
                            <div class="modal-header" id="kt_modal_add_customer_header">
                                <!--begin::Modal title-->
                                <h2 class="fw-bold">Closed The Task</h2>
                                <!--end::Modal title-->
                                <!--begin::Close-->
                                <div data-bs-dismiss="modal" ng-click="initCForm()" class="btn btn-icon btn-sm btn-active-icon-primary">
                                    <i class="ki-outline ki-cross fs-1"></i>
                                </div>
                                <!--end::Close-->
                            </div>
                            <!--end::Modal header-->
                            <!--begin::Modal body-->
                            <div class="modal-body py-10 px-lg-17">
                                <!--begin::Input group-->
                                <div class="fv-row mb-4">
                                    <!--begin::Label-->
                                    <label class="required fs-6 fw-semibold mb-2">End Time</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="time" class="form-control" id="endTime" ng-model="txtendtime" placeholder="" name="EndTime" required />
                                    <!--end::Input-->
                                    <span ng-if="ClosedTaskForm.$submitted && ClosedTaskForm.EndTime.$invalid" style="color:red">field is required</span>
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-4">
                                    <!--begin::Label-->
                                    <label class="required fs-6 fw-semibold mb-2">Comment</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <textarea type="text" class="form-control" ng-model="txtcomment" rows="3" cols="3" placeholder="" name="Name" required></textarea>
                                    <!--end::Input-->
                                    <span ng-if="ClosedTaskForm.$submitted && ClosedTaskForm.Name.$invalid" style="color:red">field is required</span>
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row">
                                    <!--begin::Label-->
                                    <label class="col-form-label text-lg-right">Upload Files:</label>
                                    <!--end::Label-->
                                    <!--begin::Dropzone-->
                                    <div class="dropzone" id="kt_dropzonejs_example_1">

                                        <!--begin::Message-->
                                        <div class="dz-message needsclick">
                                            <i class="ki-duotone ki-file-up fs-3x text-primary"><span class="path1"></span><span class="path2"></span></i>

                                            <!--begin::Info-->
                                            <div class="ms-4">
                                                <h3 class="fs-5 fw-bold text-gray-900 mb-1">Drop files here or click to upload.</h3>
                                                <span class="fs-7 fw-semibold text-gray-500">Upload up to 1 files</span>
                                            </div>
                                            <!--end::Info-->
                                        </div>
                                    </div>
                                    <!--end::Dropzone-->
                                </div>
                                <!--end::Input group-->




                            </div>
                            <!--end::Modal body-->
                            <!--begin::Modal footer-->
                            <div class="modal-footer flex-center">
                                <!--begin::Button-->
                                <button type="reset" ng-click="initCForm()" data-bs-dismiss="modal" class="btn btn-light me-3">Discard</button>
                                <!--end::Button-->
                                <!--begin::Button-->
                                <button type="submit" id="kt_modal_add_customer_submit" ng-click="ClosedTask(ClosedTaskForm.$valid)" class="btn btn-primary">
                                    <span class="indicator-label" id="btnCTsave">Submit</span>
                                    <span class="indicator-progress" id="btnCTCloader">
                                        Please wait...
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                </button>
                                <!--end::Button-->
                            </div>
                            <!--end::Modal footer-->
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="rating" tabindex="-1" aria-hidden="true">
                <!--begin::Modal dialog-->
                <div class="modal-dialog modal-dialog-centered mw-850px">
                    <!--begin::Modal content-->
                    <div class="modal-content">
                        <form class="form" name="AddRatingForm" novalidate>
                            <!--begin::Modal header-->
                            <div class="modal-header" id="kt_modal_add_customer_header">
                                <!--begin::Modal title-->
                                <h2 class="fw-bold">Rate Our Service</h2>
                                <!--end::Modal title-->
                                <!--begin::Close-->
                                <div data-bs-dismiss="modal" class="btn btn-icon btn-sm btn-active-icon-primary">
                                    <i class="ki-outline ki-cross fs-1"></i>
                                </div>
                                <!--end::Close-->
                            </div>
                            <!--end::Modal header-->
                            <!--begin::Modal body-->
                            <div class="modal-body py-10 px-lg-17">

                                <div class="row">
                                    <div class="col-sm-2">
                                        <span style="font-size:20px;">Rating:</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <jk-rating-stars max-rating="5"
                                                         rating="secondRate"
                                                         on-rating="onItemRating(rating)">
                                        </jk-rating-stars>
                                        <span style="color:red; display:none;" id="spanRatingReqMsg">Rating is required!</span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span><b>Reviews:</b></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>
                                            Thank you for Rating {{secondRate}} stars
                                        </p>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="comment" class="form-label">Comment</label>
                                        <textarea class="form-control" name="review" rows="3" cols="3" maxlength="160" placeholder="Review" ng-model="review"></textarea>

                                        @*<span ng-if="ratingForm.$submitted && ratingForm.review.$invalid" style="color:red" ng-bind="msgVrating"></span>*@
                                    </div>

                                </div>


                            </div>
                            <!--end::Modal body-->
                            <!--begin::Modal footer-->
                            <div class="modal-footer flex-center">
                                <!--begin::Button-->
                                <button type="reset" data-bs-dismiss="modal" ng-click="initForm()" class="btn btn-light me-3">Discard</button>
                                <!--end::Button-->
                                <!--begin::Button-->
                                <button type="submit" id="kt_modal_add_customer_submit" ng-click="SaveRating()" class="btn btn-primary">
                                    <span class="indicator-label" id="btnsave">Submit</span>
                                    <span class="indicator-progress" id="btnloader">
                                        Please wait...
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                </button>
                                <!--end::Button-->
                            </div>
                            <!--end::Modal footer-->
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@section scripts {

    <script src="https://cdn.jsdelivr.net/npm/alasql"></script>
    <script src="~/Scripts/Content/xlsx.core.min.js"></script>
    <script>
        new tempusDominus.TempusDominus(document.getElementById("kt_td_picker_simple"), {
            //put your config here
            display: {
                viewMode: "calendar",
                components: {
                    decades: true,
                    year: true,
                    month: true,
                    date: true,
                    hours: false,
                    minutes: false,
                    seconds: false
                }

            },
            localization: {
                format: 'dd/MM/yyyy' // Set the format here to your preferred date format
            }
        });
        new tempusDominus.TempusDominus(document.getElementById("kt_ServiceDate"), {
            //put your config here
            display: {
                viewMode: "calendar",
                components: {
                    decades: true,
                    year: true,
                    month: true,
                    date: true,
                    hours: false,
                    minutes: false,
                    seconds: false
                }
            },
            localization: {
                format: 'dd/MM/yyyy' // Set the format here to your preferred date format
            }
        });
        "use strict";
        var KTSearchHorizontal = {
            init: function () {
                var n;

                (n = document.querySelector("#kt_horizontal_search_advanced_link")).addEventListener("click", function (e) {
                    e.preventDefault(), "Advanced Search" === n.innerHTML ? (n.innerHTML = "Hide Search") : (n.innerHTML = "Advanced Search");
                });
            },
        };
        KTUtil.onDOMContentLoaded(function () {
            KTSearchHorizontal.init();
        });


    </script>
    <script>
        var endTimeInput = document.getElementById("endTime");
        endTimeInput.addEventListener("change", function () {
            var selectedTime = this.value;
            if (selectedTime < "08:00" || selectedTime > "18:00") {
                alert("Please select a time between 8:00 AM and 6:00 PM.");
                this.value = ""; // Reset the value
            }
        });
    </script>
}

