
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="HomeApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body ng-controller="TestController">
    <div>
    </div>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-growl-2.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
    <script src="~/Scripts/App/home.js?v=54"></script>
</body>
</html>
