
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutPage.cshtml";
}
<style>
    .card-custom.active {
        border: 2px solid #030104; /* Adjust the color and width as needed */
    }
    /*.card-custom {
        border: none;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s, box-shadow 0.2s;
        background-color: #ffffff;
        margin-top: 20px;
    }*/

        .card-custom:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
        }

    .cardsDetails .card-body {
        text-align: center;
        padding: 0rem;
    }

    .cardsDetails .card-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        color: #333;
    }

    .cardsDetails .card-subtitle {
        font-size: 1rem;
        color: #666;
        margin-bottom: 1rem;
    }

    .cardsDetails .card-text {
        font-size: 1rem;
        color: #555;
        margin-bottom: 0.5rem;
    }

    .cardsDetails  .icon img {
        height: 80px;
        margin-bottom: 1rem;
        border-radius: 10px;
    }

    .cardsDetails  .card-footer {
        background-color: #f8f9fa;
        border-top: none;
        padding: 0.75rem 0;
    }

        .cardsDetails .card-footer a {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }

            .cardsDetails .card-footer a:hover {
                text-decoration: underline;
            }

    .cardsDetails .extra-field {
        font-size: 1rem;
        color: #888;
        margin-bottom: 0.5rem;
    }
</style>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content" ng-controller="BookingController">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_dashboard" style="display:none;">
      
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">

            <div class="row">
                <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
                    <!--begin::Page title-->
                    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                        <!--begin::Title-->
                        <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">Booking Details</h1>
                        <!--end::Title-->

                    </div>
                    <!--end::Page title-->
                    <!--begin::Actions-->
                    <div class="d-flex align-items-center gap-2 gap-lg-3">

                        <!--begin::Primary button-->
                        <a href="/Customer/Booking/NewBooking" class="btn btn-sm fw-bold btn-primary">Add New Booking</a>
                        <!--end::Primary button-->
                    </div>
                    <!--end::Actions-->
                </div>
            </div>
            <br />
            <div class="row mb-5 cardsDetails">
                <div class="col-md-4" ng-repeat="custshort in pagedCards" style="cursor:pointer;">
                    <div class="card card-custom shadow-sm" ng-class="{ 'active': custshort.isActive }" ng-click="activateCard(custshort)">
                        <div class="card-header">
                            @*<h5 class="card-title" ng-if="custshort.MainCategoryName!=null" ng-bind="custshort.MainCategoryName"></h5>
                            <hr />*@
                            <h5 class="card-title" ng-if="custshort.SubCategoryName!='N/A'" ng-bind="custshort.SubCategoryName"></h5>

                        </div>
                        <div class="card-body">
                            <div class="icon" ng-if="custshort.SubCategoryName=='N/A'">
                                <img src="~/Images/Types/carwash.jpg" alt="Car Wash">
                            </div>
                            <div class="icon" ng-if="custshort.SubCategoryName=='Regular Cleaning'">
                                <img src="~/Images/Types/regularcleaning.png" alt="Regular Cleaning">
                            </div>
                            <div class="icon" ng-if="custshort.SubCategoryName=='Deep Cleaning'">
                                <img src="~/Images/Types/deepclning.jpg" alt="Deep Cleaning">
                            </div>
                            <div class="icon" ng-if="custshort.SubCategoryName=='Specialized Cleaning'">
                                <img src="~/Images/Types/resdentialtype.jpg" alt="specialized Cleaning">
                            </div>
                            <h6 class="card-subtitle" ng-bind="custshort.RecursiveTime"></h6>
                            <p class="card-text" ng-bind="'No Of Months.'+custshort.NoOfMonths"></p>
                            <p class="card-text" ng-bind="'Previous Serv. ' + custshort.PerviousDate"></p>
                            <p class="card-text" ng-bind="'Next Serv. ' + custshort.NextDate"></p>
                            <p class="card-text extra-field" ng-bind="custshort.AssignedCleaner!=null? 'Assigned Cleaner ' + custshort.AssignedCleaner: 'Not Assigned'"></p>
                        </div>

                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation" ng-show="CustomerShortDetails.length > itemsPerPage">
                <ul class="pagination float-right">

                    <li class="page-item" ng-class="{ 'disabled': currentPage === 1 }">
                        <a class="page-link" href="#" ng-click="setCurrentPage(currentPage - 1)">Previous</a>
                    </li>
                    <li class="page-item" ng-repeat="page in pages" ng-class="{ 'active': currentPage === page }">
                        <a class="page-link" href="#" ng-click="setCurrentPage(page)">{{page}}</a>
                    </li>
                    <li class="page-item" ng-class="{ 'disabled': currentPage === totalPages }">
                        <a class="page-link" href="#" ng-click="setCurrentPage(currentPage + 1)">Next</a>
                    </li>

                </ul>
            </nav>
            <br />
            <div class="row" id="spinnerdiv" style="display: flex; justify-content: center; align-items: center; height: 50vh;display:none;">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="row mb-5" id="AllDetails" style="display:none;">
                <div class="card">
                    <div class="card-header">
                        <!--begin::Navs-->
                        <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
                            <!--begin::Nav item-->
                            <li class="nav-item mt-2">
                                <a class="nav-link text-active-primary ms-0 me-10 py-5 active" data-bs-toggle="pill" href="#overview">Service Details</a>
                            </li>
                            <!--end::Nav item-->
                            <!--begin::Nav item-->
                            <li class="nav-item mt-2">
                                <a class="nav-link text-active-primary ms-0 me-10 py-5" data-bs-toggle="pill" href="#changepassword">All Details</a>
                            </li>
                            <li class="nav-item mt-2">
                                <a class="nav-link text-active-primary ms-0 me-10 py-5" ng-if="AllDetails.GetServices.length!=0" ng-click="GetServiceDetails(AllDetails.GetServices)" data-bs-toggle="pill" href="#specialized">Specialized Services</a>
                            </li>
                            <!--end::Nav item-->

                        </ul>
                        <!--begin::Navs-->
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="overview">
                                <!--begin::details View-->
                                <div class="card mb-5 mb-xl-10">

                                    <!--begin::Card body-->
                                    <div class="card-body p-9">
                                        <div class="table-responsive border-bottom mb-5" id="tbl_packageList" style="display:none;">
                                            <table class="table table-bordered" datatable="ng" dt-options="vm.dtOptions">
                                                <thead>
                                                    <tr>
                                                        <th class="min-w-175px">Package Name</th>
                                                        <th>Task No</th>
                                                        <th class="min-w-100px">Date</th>
                                                        <th class="min-w-50px">Start Time</th>
                                                        <th class="min-w-50px">End Time</th>
                                                        <th class="min-w-100px">Duration</th>

                                                        <th class="min-w-100px">Price</th>
                                                        <th>Payment Status</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="" ng-repeat="package in PackagesDetails">
                                                        <td ng-bind="package.PackageName"></td>
                                                        <td ng-bind="package.TaskNo"></td>
                                                        <td ng-bind="getFormattedDate(package.Date) | date:'fullDate'"></td>
                                                        <td ng-bind="package.StartTime"></td>
                                                        <td ng-bind="package.EndTime"></td>
                                                        <td ng-bind="package.Duration + ' ' + package.Measurement "></td>
                                                        <td ng-bind="package.Price + ' QR'"></td>
                                                        <td>
                                                            <span class="badge py-3 px-4 fs-7"
                                                                  ng-class="{
         'badge-light-info': AllDetails.PaymentStatus && AllDetails.PaymentStatus.PaymentStatus == null,
        'badge-light-primary': AllDetails.PaymentStatus && AllDetails.PaymentStatus.PaymentStatus == 0,
        'badge-light-success': AllDetails.PaymentStatus && AllDetails.PaymentStatus.PaymentStatus == 2,
        'badge-light-warning': AllDetails.PaymentStatus && AllDetails.PaymentStatus.PaymentStatus == 1,
        'badge-light-danger': AllDetails.PaymentStatus && (AllDetails.PaymentStatus.PaymentStatus == 3 || AllDetails.PaymentStatus.PaymentStatus == 4),
        'badge-light-yellow': !AllDetails.PaymentStatus || AllDetails.PaymentStatus.PaymentStatus == null
      }"
                                                                  ng-bind="getPaymentStatus(AllDetails.PaymentStatus)">
                                                            </span>

                                                        </td>
                                                        <td>
                                                            <span class="badge py-3 px-4 fs-7" ng-class="{ 'badge-light-info':package.WorkStatus == 1,
        'badge-light-primary': package.WorkStatus == 2,
        'badge-light-success': package.WorkStatus == 3}" ng-bind="package.WorkStatus==1?'Open':package.WorkStatus==2?'Pending':package.WorkStatus==3?'Closed':'N/A'"></span>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-light btn-active-light-primary btn-flex btn-center btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Action <i class="ki-duotone ki-down fs-5 ms-1"></i>
                                                            </a>
                                                            <div ng-if="AllDetails.ServiceStatus != null && AllDetails.ServiceStatus != 'InActive'" class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                                                <a class="dropdown-item" ng-if="package.WorkStatus != 3" style="cursor:pointer;" ng-click="getWhatsAppLink()">Reshedule</a>
                                                                <a class="dropdown-item" ng-if="package.WorkStatus == 3" href="#" data-bs-toggle="modal" data-bs-target="#rating" ng-click="RatingModal()">Rating</a>
                                                                <a class="dropdown-item" ng-if="package.WorkStatus == 3" href="#" data-bs-toggle="modal" data-bs-target="#complaing" ng-click="ComplainModal()">complaint</a>

                                                            </div>
                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>



                                    </div>
                                    <!--end::Card body-->
                                </div>
                                <!--end::details View-->
                            </div>

                            <div class="tab-pane fade" id="changepassword">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4 mb-4">
                                                <label for="phone" class="control-label">Name:</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.Saluation + ' '+ AllDetails.Name"></label>
                                            </div>
                                            <div class="col-md-4 mb-4">
                                                <label for="phone" class="control-label">Mobile No:</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.Mobile"></label>
                                            </div>
                                            <div class="col-md-4 mb-4">
                                                <label for="phone" class="control-label">Email:</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.Email"></label>
                                            </div>
                                            <div class="col-md-4 mb-4">
                                                <label for="phone" class="control-label">Area:</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.Area"></label>
                                            </div>
                                            <div class="col-md-4 mb-4">
                                                <label for="phone" class="control-label">Property:</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.PropertyName"></label>
                                            </div>
                                            <div class="col-md-4 mb-4">
                                                <label for="phone" class="control-label">Residential Type:</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.PropertyResidencyType"></label>
                                            </div>
                                            <div class="col-md-4 mb-4">
                                                <label for="phone" class="control-label">Apartment No:</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.ApartmentName"></label>
                                            </div>

                                            <div class="col-md-4 mb-4">
                                                <label for="phone" class="control-label">Key Collection:</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.GetCustomerAvailability != null ? (AllDetails.GetCustomerAvailability.KeyCollection != null ? 'Yes' : 'No') : ''"></label>
                                            </div>
                                            <div class="col-md-4 mb-4">
                                                <label for="phone" class="control-label">Access Details</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.GetCustomerAvailability.AccessProperty || 'N/A'"></label>
                                            </div>
                                            <div class="col-md-4 mb-4">
                                                <label for="phone" class="control-label">Key Collection Date:</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.GetCustomerAvailability.ReceptionDate==null ? 'N/A' : AllDetails.GetCustomerAvailability.ReceptionDate.replace('/Date(','').replace(')/','') | date"></label>
                                            </div>

                                            <div class="col-md-4 mb-4">
                                                <label for="phone" class="control-label">WhatsApp Number</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.WhatsAppNo || 'N/A'"></label>
                                            </div>
                                            <div class="col-md-4 mb-4">
                                                <label for="phone" class="control-label">Alternate Number</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.AlternativeNo || 'N/A'"></label>
                                            </div>
                                            <div class="col-md-4 mb-4">
                                                <label for="phone" class="control-label">Alternate Number</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.AlternativeNo || 'N/A'"></label>
                                            </div>
                                            <div class="col-md-4 mb-4">
                                                <label for="phone" class="control-label">No Of Months</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.NoOfMonths || 'N/A'"></label>
                                            </div>
                                            <div class="col-md-4 mb-6">
                                                <label for="phone" class="control-label">Special Instructions</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.Remarks || 'N/A'"></label>
                                            </div>
                                            <div class="row" ng-if="AllDetails.IsCarWash != null && AllDetails.IsCarWash != false">
                                                <div class="col-md-4 mb-4">
                                                    <label for="phone" class="control-label">Car Type</label><br />
                                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.CarType"></label>
                                                </div>
                                                <div class="col-md-4 mb-4">
                                                    <label for="phone" class="control-label">Car Service Type</label><br />
                                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.CarServiceType"></label>
                                                </div>
                                                <div class="col-md-4 mb-4">
                                                    <label for="phone" class="control-label">Parking Level</label><br />
                                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.CustomCarDetails.ParkingLevel"></label>
                                                </div>
                                                <div class="col-md-4 mb-4">
                                                    <label for="phone" class="control-label">Parking Number</label><br />
                                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.CustomCarDetails.ParkingNumber"></label>
                                                </div>
                                                <div class="col-md-4 mb-4">
                                                    <label for="phone" class="control-label">Vehicle Brand</label><br />
                                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.CustomCarDetails.VehicleBrand"></label>
                                                </div>
                                                <div class="col-md-4 mb-4">
                                                    <label for="phone" class="control-label">Vehicle Color</label><br />
                                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.CustomCarDetails.VehicleColor"></label>
                                                </div>
                                                <div class="col-md-4 mb-4">
                                                    <label for="phone" class="control-label">Vehicle Number</label><br />
                                                    <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.CustomCarDetails.VehicleNumber"></label>
                                                </div>
                                            </div>

                                            <div class="col-md-4 mb-4" ng-if="AllDetails.OtherLocation != null">
                                                <label for="phone" class="control-label">Tower Name:</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.OtherLocation.TowerName"></label>
                                            </div>
                                            <div class="col-md-4 mb-4" ng-if="AllDetails.OtherLocation != null">
                                                <label for="phone" class="control-label">Building Number</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.OtherLocation.BuildingName"></label>
                                            </div>
                                            <div class="col-md-4 mb-4" ng-if="AllDetails.OtherLocation != null">
                                                <label for="phone" class="control-label">Street Number</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.OtherLocation.StreetNumber"></label>
                                            </div>
                                            <div class="col-md-4 mb-4" ng-if="AllDetails.OtherLocation != null">
                                                <label for="phone" class="control-label">Zone Number</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.OtherLocation.ZoneNumber"></label>
                                            </div>
                                            <div class="col-md-4 mb-4" ng-if="AllDetails.OtherLocation != null">
                                                <label for="phone" class="control-label">Location</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;" ng-bind="AllDetails.OtherLocation.Loacation"></label>
                                            </div>
                                            <div class="col-md-4 mb-4" ng-if="AllDetails.OtherLocation != null">
                                                <label for="phone" class="control-label">Location URL</label><br />
                                                <label class="text-wrap text-break" style="max-width: 200px;font-weight:500;">
                                                    <a href="{{AllDetails.OtherLocation.LocationLink}}" ng-bind="AllDetails.OtherLocation.LocationLink"></a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="specialized">
                                <div class="card">

                                    <div class="card-body">

                                        <div class="table-responsive border-bottom mb-5" id="tbl_servicesList" style="display:none;">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="min-w-175px">Service Category</th>
                                                        <th class="min-w-175px">Sub Category</th>
                                                        <th class="min-w-70px">Quantity</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="" ng-repeat="servs in ServiceList">
                                                        <td ng-bind="servs.ServiceCategoryName"></td>
                                                        <td ng-bind="servs.ServiceSubCategoryName"></td>
                                                        <td ng-bind="servs.Quantity"></td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>


                                        <div class="table-responsive border-bottom mb-5" id="tbl_dummyservices">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="min-w-175px">Service Category</th>
                                                        <th class="min-w-175px">Sub Category</th>
                                                        <th class="min-w-70px">Quantity</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td colspan="8" style="color:blue;" id="spanservLoader"><span><b>Loading...</b></span></td>
                                                        <td colspan="8" style="color:red;display:none;" id="spanEmptyservRecords"><span>No records found!</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="rating" tabindex="-1" aria-hidden="true">
                <!--begin::Modal dialog-->
                <div class="modal-dialog modal-dialog-centered mw-850px">
                    <!--begin::Modal content-->
                    <div class="modal-content">
                        <form class="form" name="AddRatingForm" novalidate>
                            <!--begin::Modal header-->
                            <div class="modal-header" id="kt_modal_add_customer_header">
                                <!--begin::Modal title-->
                                <h2 class="fw-bold" ng-bind="'Rate ' + SubCategoryName + ' Service'"></h2>
                                <!--end::Modal title-->
                                <!--begin::Close-->
                                <div data-bs-dismiss="modal" class="btn btn-icon btn-sm btn-active-icon-primary">
                                    <i class="ki-outline ki-cross fs-1"></i>
                                </div>
                                <!--end::Close-->
                            </div>
                            <!--end::Modal header-->
                            <!--begin::Modal body-->
                            <div class="modal-body py-10 px-lg-17">

                                <div class="row">
                                    <div class="col-sm-2">
                                        <span style="font-size:20px;">Rating:</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <jk-rating-stars max-rating="5"
                                                         rating="secondRate"
                                                         on-rating="onItemRating(rating)">
                                        </jk-rating-stars>
                                        <span style="color:red; display:none;" id="spanRatingReqMsg">Rating is required!</span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span><b>Reviews:</b></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>
                                            Thank you for Rating {{secondRate}} stars
                                        </p>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="comment" class="form-label">Comment</label>
                                        <textarea class="form-control" name="review" rows="3" cols="3" maxlength="160" placeholder="Review" ng-model="review"></textarea>

                                        @*<span ng-if="ratingForm.$submitted && ratingForm.review.$invalid" style="color:red" ng-bind="msgVrating"></span>*@
                                    </div>

                                </div>


                            </div>
                            <!--end::Modal body-->
                            <!--begin::Modal footer-->
                            <div class="modal-footer flex-center">
                                <!--begin::Button-->
                                <button type="reset" data-bs-dismiss="modal" ng-click="initForm()" class="btn btn-light me-3">Discard</button>
                                <!--end::Button-->
                                <!--begin::Button-->
                                <button type="submit" id="kt_modal_add_customer_submit" ng-click="SaveRating()" class="btn btn-primary">
                                    <span class="indicator-label" id="btnsave">Submit</span>
                                    <span class="indicator-progress" id="btnloader">
                                        Please wait...
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                </button>
                                <!--end::Button-->
                            </div>
                            <!--end::Modal footer-->
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="complaing" tabindex="-1" aria-hidden="true">
                <!--begin::Modal dialog-->
                <div class="modal-dialog modal-dialog-centered mw-650px">

                    <!--begin::Modal content-->
                    <div class="modal-content">
                        <form class="form" name="AddComplaintForm" novalidate>
                            <!--begin::Modal header-->
                            <div class="modal-header" id="kt_modal_add_customer_header">
                                <!--begin::Modal title-->
                                <h2 class="fw-bold" ng-bind="'Register Complaint for ' + SubCategoryName + ' Service'"></h2>
                                <!--end::Modal title-->
                                <!--begin::Close-->
                                <div data-bs-dismiss="modal" class="btn btn-icon btn-sm btn-active-icon-primary">
                                    <i class="ki-outline ki-cross fs-1"></i>
                                </div>
                                <!--end::Close-->
                            </div>
                            <!--end::Modal header-->
                            <!--begin::Modal body-->
                            <div class="modal-body py-10 px-lg-17">

                                <!--begin::Input group-->
                                <div class="fv-row mb-4">
                                    <!--begin::Label-->
                                    <label class="required fs-6 fw-semibold mb-2">Comment</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <textarea type="text" class="form-control" ng-model="txtcomment" rows="3" cols="3" placeholder="" name="Name" required></textarea>
                                    <!--end::Input-->
                                    <span ng-if="AddComplaintForm.$submitted && AddComplaintForm.Name.$invalid" style="color:red">field is required</span>
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row">
                                    <!--begin::Label-->
                                    <label class="col-form-label text-lg-right">Upload Files:</label>
                                    <!--end::Label-->
                                    <!--begin::Dropzone-->
                                    <div class="dropzone" id="kt_dropzonejs_example_1">

                                        <!--begin::Message-->
                                        <div class="dz-message needsclick">
                                            <i class="ki-duotone ki-file-up fs-3x text-primary"><span class="path1"></span><span class="path2"></span></i>

                                            <!--begin::Info-->
                                            <div class="ms-4">
                                                <h3 class="fs-5 fw-bold text-gray-900 mb-1">Drop files here or click to upload.</h3>
                                                <span class="fs-7 fw-semibold text-gray-500">Upload up to 1 files</span>
                                            </div>
                                            <!--end::Info-->
                                        </div>
                                    </div>
                                    <!--end::Dropzone-->
                                </div>
                                <!--end::Input group-->




                            </div>
                            <!--end::Modal body-->
                            <!--begin::Modal footer-->
                            <div class="modal-footer flex-center">
                                <!--begin::Button-->
                                <button type="reset" ng-click="initForm()" data-bs-dismiss="modal" class="btn btn-light me-3">Discard</button>
                                <!--end::Button-->
                                <!--begin::Button-->
                                <button type="submit" id="kt_modal_add_customer_submit" ng-click="RegisterComplaint(AddComplaintForm.$valid)" class="btn btn-primary">
                                    <span class="indicator-label" id="btnRCsave">Submit</span>
                                    <span class="indicator-progress" id="btnRCloader">
                                        Please wait...
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                </button>
                                <!--end::Button-->
                            </div>
                            <!--end::Modal footer-->
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

        </div>

@section scripts {

    <script src="https://cdn.jsdelivr.net/npm/alasql"></script>
    <script src="~/Scripts/Content/xlsx.core.min.js"></script>
}