
@{
    ViewBag.Title = "Add User";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/css/intlTelInput.css" rel="stylesheet" />

<style>
    .iti__country-list {
        width: 240px;
    }
    [ng-cloak] {
        display: none !important;
    }
</style>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content" ng-controller="UserManagementController" ng-cloak>
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
     
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">

            <!--begin::Card-->
            <div class="card">
                <!--begin::Card header-->
                <div class="card-header border-0 pt-6">
                    <!--begin::Navs-->
                    <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">

                        <!--begin::Nav item-->
                        <li class="nav-item mt-2">
                            <a class="nav-link text-active-primary ms-0 me-10 py-5 active" data-bs-toggle="pill" ng-click="GetDetailsbyrID('16')" href="#operationmanager">Operation Manager</a>
                        </li>
                        <!--end::Nav item-->
                        <!--begin::Nav item-->
                        <li class="nav-item mt-2">
                            <a class="nav-link text-active-primary ms-0 me-10 py-5" data-bs-toggle="pill" href="#cleaneer" ng-click="GetDetailsbyrID('15')">Cleaner</a>
                        </li>
                        <!--end::Nav item-->
                        <!--begin::Nav item-->
                        <li class="nav-item mt-2">
                            <a class="nav-link text-active-primary ms-0 me-10 py-5" data-bs-toggle="pill" href="#logistics" ng-click="GetDetailsbyrID('18')">Logistics</a>
                        </li>
                        <!--end::Nav item-->
                        <!--begin::Nav item-->
                        <li class="nav-item mt-2">
                            <a class="nav-link text-active-primary ms-0 me-10 py-5" data-bs-toggle="pill" href="#customersupport" ng-click="GetDetailsbyrID('17')">Customer Support</a>
                        </li>
                        <!--end::Nav item-->
                    </ul>
                    <!--begin::Navs-->
                    <div class="card-toolbar">
                        <!--begin::Toolbar-->
                        <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">

                            <!--begin::Export-->
                            <button type="button" class="btn btn-light-primary me-3" data-bs-toggle="modal" data-bs-target="#kt_customers_export_modal" fdprocessedid="e1bwx">
                                <i class="ki-outline ki-exit-up fs-2"></i>Export
                            </button>
                            <!--end::Export-->
                            <!--begin::Add customer-->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_customer" fdprocessedid="tumhvr">Add User</button>
                            <!--end::Add customer-->
                        </div>
                        <!--end::Toolbar-->

                    </div>
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    
                    <!--end::Card toolbar-->
                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="operationmanager">
                            <div class="row" ng-hide="spinnerdiv" style="display: flex; justify-content: center; align-items: center; height: 50vh;">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <div class="table-responsive" id="tbl_otherlist" ng-show="isOtherListVisible">
                                <!--begin::Table-->
                                <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_customers_table" datatable="ng" dt-options="vm.dtOptions">
                                    <thead>
                                        <tr class="text-start fw-bold fs-7 text-uppercase gs-0">
                                            <th>S.No</th>
                                            <th class="min-w-125px">Name</th>
                                            <th class="min-w-125px">Email</th>
                                            <th class="min-w-125px">Mobile No</th>
                                            <th class="min-w-100px">Role</th>
                                            @*<th class="min-w-70px">Actions</th>*@
                                        </tr>
                                    </thead>
                                    <tbody class="fw-semibold text-gray-600">
                                        <tr ng-repeat="user in OtherUserList">
                                            <td ng-bind="user.index"></td>
                                            <td>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#kt_modal_customerRating" ng-click="GetAvgRating(user.stfID)" ng-bind="user.Name" class="text-gray-800 text-hover-primary mb-1"></a>
                                            </td>
                                            <td>
                                                <a href="#" ng-bind="user.Email || 'N/A'" class="text-gray-800 mb-1"></a>
                                            </td>
                                            <td class="text-gray-800 mb-1" ng-bind="user.Mobile"></td>
                                            <td class="text-gray-800 mb-1" ng-bind="user.Role"></td>
                                            @*<td>
                                    <a class="btn btn-light btn-active-light-primary btn-flex btn-center btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action <i class="ki-duotone ki-down fs-5 ms-1"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#updateuser" ng-click="EditUser(user)">Update Info</a>

                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteuser" ng-click="EditUser(user)">Delete</a>
                                    </div>
                                </td>*@
                                        </tr>
                                    </tbody>
                                </table>
                                <!--end::Table-->
                            </div>

                            <div id="tbl_dummyotheruser" ng-show="isDummyOtherUserVisible">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Username</th>
                                            <th>Mobile No</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="isLoaderVisible">
                                            <td colspan="8" style="color:blue;"><span><b>Loading...</b></span></td>
                                        </tr>
                                        <tr ng-show="isEmptyRecordsVisible">
                                            <td colspan="8" style="color:red;"><span>No records found!</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="cleaneer">
                            <div class="row" ng-hide="spinnerdiv" style="display: flex; justify-content: center; align-items: center; height: 50vh;">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <div class="table-responsive" id="tbl_otherlist" ng-show="isOtherListVisible">
                                <!--begin::Table-->
                                <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_customers_table" datatable="ng" dt-options="vm.dtOptions">
                                    <thead>
                                        <tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
                                            <th>S.No</th>
                                            <th class="min-w-125px">Name</th>
                                            <th class="min-w-125px">Email</th>
                                            <th class="min-w-125px">Mobile No</th>
                                            <th class="min-w-100px">Role</th>
                                            <th>Team</th>
                                            <th class="min-w-70px">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="fw-semibold text-gray-600">
                                        <tr ng-repeat="user in OtherUserList">
                                            <td ng-bind="user.index"></td>
                                            <td>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#kt_modal_customerRating" ng-click="GetAvgRating(user.stfID)" ng-bind="user.Name" class="text-gray-800 text-hover-primary mb-1"></a>
                                            </td>
                                            <td>
                                                <a href="#" ng-bind="user.Email || 'N/A'" class="text-gray-800  mb-1"></a>
                                            </td>
                                            <td class="text-gray-800  mb-1" ng-bind="user.Mobile"></td>
                                            <td class="text-gray-800  mb-1" ng-bind="user.Role"></td>
                                            <td class="text-gray-800  mb-1" ng-bind="user.TeamName || 'N/A'"></td>


                                            <td>
                                                <a class="btn btn-light btn-active-light-primary btn-flex btn-center btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Action <i class="ki-duotone ki-down fs-5 ms-1"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="userDropdown">
                                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#updateuser" ng-click="EditUser(user)">Update Info</a>
                                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#updateteam" ng-click="EditTeam(user)">Update Team</a>
                                                    <a class="dropdown-item" href="#" ng-if="user.Role == 'Cleaner'" data-bs-toggle="modal" data-bs-target="#updatepassword" ng-click="EditUser(user)">Update Password</a>
                                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteuser" ng-click="EditUser(user)">Delete</a>

                                                </div>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                                <!--end::Table-->
                            </div>
                            <div id="tbl_dummyotheruser" ng-show="isDummyOtherUserVisible">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Username</th>
                                            <th>Mobile No</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="isLoaderVisible">
                                            <td colspan="8" style="color:blue;"><span><b>Loading...</b></span></td>
                                        </tr>
                                        <tr ng-show="isEmptyRecordsVisible">
                                            <td colspan="8" style="color:red;"><span>No records found!</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="logistics">
                            <div class="row" ng-hide="spinnerdiv" style="display: flex; justify-content: center; align-items: center; height: 50vh;">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <div class="table-responsive" id="tbl_otherlist" ng-show="isOtherListVisible">
                                <!--begin::Table-->
                                <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_customers_table" datatable="ng" dt-options="vm.dtOptions">
                                    <thead>
                                        <tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
                                            <th>S.No</th>
                                            <th class="min-w-125px">Name</th>
                                            <th class="min-w-125px">Email</th>
                                            <th class="min-w-125px">Mobile No</th>
                                            <th class="min-w-100px">Role</th>
                                            @*<th class="min-w-70px">Actions</th>*@
                                        </tr>
                                    </thead>
                                    <tbody class="fw-semibold text-gray-600">
                                        <tr ng-repeat="user in OtherUserList">
                                            <td ng-bind="user.index"></td>
                                            <td>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#kt_modal_customerRating" ng-click="GetAvgRating(user.stfID)" ng-bind="user.Name" class="text-gray-800 text-hover-primary mb-1"></a>
                                            </td>
                                            <td>
                                                <a href="#" ng-bind="user.Email || 'N/A'" class="text-gray-800  mb-1"></a>
                                            </td>
                                            <td class="text-gray-800  mb-1" ng-bind="user.Mobile"></td>
                                            <td class="text-gray-800  mb-1" ng-bind="user.Role"></td>

                                            @*<td>
                                    <a class="btn btn-light btn-active-light-primary btn-flex btn-center btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action <i class="ki-duotone ki-down fs-5 ms-1"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#updateuser" ng-click="EditUser(user)">Update Info</a>

                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteuser" ng-click="EditUser(user)">Delete</a>

                                    </div>
                                </td>*@
                                        </tr>


                                    </tbody>
                                </table>
                                <!--end::Table-->
                            </div>
                            <div id="tbl_dummyotheruser" ng-show="isDummyOtherUserVisible">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Username</th>
                                            <th>Mobile No</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="isLoaderVisible">
                                            <td colspan="8" style="color:blue;"><span><b>Loading...</b></span></td>
                                        </tr>
                                        <tr ng-show="isEmptyRecordsVisible">
                                            <td colspan="8" style="color:red;"><span>No records found!</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="customersupport">
                            <div class="row" ng-hide="spinnerdiv" style="display: flex; justify-content: center; align-items: center; height: 50vh;">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <div class="table-responsive" id="tbl_otherlist" ng-show="isOtherListVisible">
                                <!--begin::Table-->
                                <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_customers_table" datatable="ng" dt-options="vm.dtOptions">
                                    <thead>
                                        <tr class="text-start  fw-bold fs-7 text-uppercase gs-0">
                                            <th>S.No</th>
                                            <th class="min-w-125px">Name</th>
                                            <th class="min-w-125px">Email</th>
                                            <th class="min-w-125px">Mobile No</th>
                                            <th class="min-w-100px">Role</th>
                                            @*<th class="min-w-70px">Actions</th>*@
                                        </tr>
                                    </thead>
                                    <tbody class="fw-semibold text-gray-600">
                                        <tr ng-repeat="user in OtherUserList">
                                            <td ng-bind="user.index"></td>
                                            <td>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#kt_modal_customerRating" ng-click="GetAvgRating(user.stfID)" ng-bind="user.Name" class="text-gray-800 text-hover-primary mb-1"></a>
                                            </td>
                                            <td>
                                                <a href="#" ng-bind="user.Email || 'N/A'" class="text-gray-800  mb-1"></a>
                                            </td>
                                            <td class="text-gray-800  mb-1" ng-bind="user.Mobile"></td>
                                            <td class="text-gray-800  mb-1" ng-bind="user.Role"></td>

                                            @*<td>
                                    <a class="btn btn-light btn-active-light-primary btn-flex btn-center btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action <i class="ki-duotone ki-down fs-5 ms-1"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#updateuser" ng-click="EditUser(user)">Update Info</a>

                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteuser" ng-click="EditUser(user)">Delete</a>

                                    </div>
                                </td>*@
                                        </tr>


                                    </tbody>
                                </table>
                                <!--end::Table-->
                            </div>
                            <div id="tbl_dummyotheruser" ng-show="isDummyOtherUserVisible">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Username</th>
                                            <th>Mobile No</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="isLoaderVisible">
                                            <td colspan="8" style="color:blue;"><span><b>Loading...</b></span></td>
                                        </tr>
                                        <tr ng-show="isEmptyRecordsVisible">
                                            <td colspan="8" style="color:red;"><span>No records found!</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Card-->
                    <div class="modal fade" id="kt_modal_add_customer" tabindex="-1" aria-hidden="true">
                        <!--begin::Modal dialog-->
                        <div class="modal-dialog modal-dialog-centered mw-650px">
                            <!--begin::Modal content-->
                            <div class="modal-content">
                                <!--begin::Form-->
                                <form class="form" name="myAddUserForm" novalidate>
                                    <!--begin::Modal header-->
                                    <div class="modal-header" id="kt_modal_add_customer_header">
                                        <!--begin::Modal title-->
                                        <h2 class="fw-bold">Add a User</h2>
                                        <!--end::Modal title-->
                                        <!--begin::Close-->
                                        <div data-bs-dismiss="modal" ng-click="initForm()" class="btn btn-icon btn-sm btn-active-icon-primary">
                                            <i class="ki-outline ki-cross fs-1"></i>
                                        </div>
                                        <!--end::Close-->
                                    </div>
                                    <!--end::Modal header-->
                                    <!--begin::Modal body-->
                                    <div class="modal-body py-10 px-lg-17">
                                        <!--begin::Scroll-->
                                        <!--begin::Input group-->
                                        <!--<div class="fv-row mb-4">-->
                                        <!--begin::Label-->
                                        <!--<label class="required fs-6 fw-semibold mb-2">Username</label>-->
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <!--<input type="text" class="form-control" ng-model="txtusername" placeholder="" name="Username" required />-->
                                        <!--end::Input-->
                                        <!--<span ng-if="myAddUserForm.$submitted && myAddUserForm.Username.$invalid" style="color:red" ng-bind="msgVUsername"></span>
                        </div>-->
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="fv-row mb-4">
                                            <!--begin::Label-->
                                            <label class="required fs-6 fw-semibold mb-2">Name</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" class="form-control" ng-model="txtname" placeholder="" name="Name" required />
                                            <!--end::Input-->
                                            <span ng-if="myAddUserForm.$submitted && myAddUserForm.Name.$invalid" style="color:red" ng-bind="msgVName"></span>
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="fv-row mb-4">
                                            <!--begin::Label-->
                                            <label class="fs-6 fw-semibold mb-2">Email</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="email" ng-model="txtEmail" class="form-control" placeholder="" name="Email" />
                                            <span style="color:red" ng-bind="msgVEmail"></span>
                                            <!--end::Input-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="fv-row mb-4">
                                            <!--begin::Label-->
                                            <label class="required fs-6 fw-semibold mb-2">Mobile No</label>
                                            <!--end::Label-->
                                            <input type="text" id="txtMobileNo" ng-minlength="8" ng-maxlength="8" minlength="8" maxlength="8" name="MobileNo" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" size="80" class="form-control" required ng-model="txtMobileNo" placeholder="Eg: 90000000">
                                            <!-- Error Message for Minlength -->
                                            <span ng-if="myAddUserForm.$submitted && myAddUserForm.MobileNo.$error.minlength"
                                                  style="color:red" ng-bind="msgMinLength || 'Mobile no must be at least 8 digits long.'">

                                            </span><br />
                                            <span ng-if="myAddUserForm.$submitted && myAddUserForm.MobileNo.$invalid" style="color:red" ng-bind="msgVMobileNo"></span>

                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="fv-row mb-4">
                                            <!--begin::Label-->
                                            <label class="fs-6 fw-semibold mb-2">
                                                <span class="required">Role</span>

                                            </label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <select name="Role" id="ddRole" ng-model="txtRole" ng-change="GetTeambyRole()" aria-label="Select a Role" data-control="select2" data-placeholder="Select a Role..." data-dropdown-parent="#kt_modal_add_customer" class="form-select" required>
                                                <option value="">Select Role...</option>
                                                <option value="15">
                                                    Cleaner
                                                </option>
                                                <option value="16">
                                                    Operation Manager
                                                </option>
                                                <option value="17">
                                                    Customer Support
                                                </option>
                                                <option value="18">
                                                    Logistic
                                                </option>
                                            </select>
                                            <span ng-if="myAddUserForm.$submitted && myAddUserForm.Role.$invalid" style="color:red" ng-bind="msgVRole"></span>

                                        </div>
                                        <!--begin::Input group-->
                                        <!--begin::Input group-->
                                        <div class="fv-row mb-4" ng-hide="TeamDddiv">
                                            <!--begin::Label-->
                                            <label class="fs-6 fw-semibold mb-2">
                                                <span class="required">Team</span>

                                            </label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <select name="Team" id="ddlTeam" ng-model="txtTeam" ng-options="team.ID as team.Value for team in TeamDropdown" aria-label="Select a Role" data-control="select2" data-placeholder="Select a Team..." data-dropdown-parent="#kt_modal_add_customer" class="form-select TeamDropdown" ng-required="txtRole == 15">
                                                <option value="">Select Team...</option>


                                            </select>
                                            <span style="color:red" ng-bind="msgVTeam"></span>

                                        </div>
                                        <!--begin::Input group-->

                                    </div>
                                    <!--end::Modal body-->
                                    <!--begin::Modal footer-->
                                    <div class="modal-footer flex-center">
                                        <!--begin::Button-->
                                        <button type="reset" ng-click="initForm()" data-bs-dismiss="modal" class="btn btn-light me-3">Discard</button>
                                        <!--end::Button-->
                                        <!--begin::Button-->
                                        <button type="submit" id="kt_modal_add_customer_submit" ng-click="AddUser(myAddUserForm.$valid)" class="btn btn-primary">
                                            <span class="indicator-label" id="btnuser">Submit</span>
                                            <span class="indicator-progress" id="btnuserloader">
                                                Please wait...
                                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>
                                        <!--end::Button-->
                                    </div>
                                    <!--end::Modal footer-->
                                </form>
                                <!--end::Form-->
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="kt_modal_customerRating" tabindex="-1" aria-hidden="true">
                        <!--begin::Modal dialog-->
                        <div class="modal-dialog modal-dialog-centered mw-850px">
                            <!--begin::Modal content-->
                            <div class="modal-content">
                                <!--begin::Form-->
                                <!--begin::Modal header-->
                                <div class="modal-header" id="kt_modal_add_customer_header">
                                    <!--begin::Modal title-->
                                    <h2 class="fw-bold">Customer Rating</h2>
                                    <!--end::Modal title-->
                                    <!--begin::Close-->
                                    <div data-bs-dismiss="modal" class="btn btn-icon btn-sm btn-active-icon-primary">
                                        <i class="ki-outline ki-cross fs-1"></i>
                                    </div>
                                    <!--end::Close-->
                                </div>
                                <!--end::Modal header-->
                                <!--begin::Modal body-->
                                <div class="modal-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Customer Rating</h5>
                                            <div class="row mb-4">
                                                <div class="col-md-4">
                                                    <a class="card flex-column justfiy-content-start align-items-start text-start w-100 text-gray-800 text-hover-primary p-10" href="">
                                                        <span class="fs-4 fw-bold">
                                                            Regular Cleaning
                                                        </span>
                                                        <div class="rating">
                                                            <div class="rating-label checked" ng-repeat="star in getStars(RegularCleaning) track by $index">
                                                                <i class="ki-duotone ki-star fs-1"></i>
                                                            </div>
                                                        </div>

                                                    </a>
                                                </div>
                                                <div class="col-md-4">
                                                    <a class="card flex-column justfiy-content-start align-items-start text-start w-100 text-gray-800 text-hover-primary p-10" href="">
                                                        <span class="fs-4 fw-bold">
                                                            Deep Cleaning
                                                        </span>
                                                        <div class="rating">
                                                            <div class="rating-label checked" ng-repeat="star in getStars(DeepCleaning) track by $index">
                                                                <i class="ki-duotone ki-star fs-1"></i>
                                                            </div>
                                                        </div>

                                                    </a>
                                                </div>
                                                <div class="col-md-4">
                                                    <a class="card flex-column justfiy-content-start align-items-start text-start w-100 text-gray-800 text-hover-primary p-10" href="">
                                                        <span class="fs-4 fw-bold">
                                                            Specialize Cleaning
                                                        </span>
                                                        <div class="rating">
                                                            <div class="rating-label checked" ng-repeat="star in getStars(SpecializeCleaning) track by $index">
                                                                <i class="ki-duotone ki-star fs-1"></i>
                                                            </div>
                                                        </div>

                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Services Completed</h5>
                                            <div class="row mb-4">
                                                <div class="col-md-4">
                                                    <a class="card flex-column justfiy-content-start align-items-start text-start w-100 text-gray-800 text-hover-primary p-10" href="">
                                                        <span class="fs-4 fw-bold">
                                                            Regular Cleaning
                                                        </span>
                                                        <span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2" ng-bind="RegularCleaningTS"></span>

                                                    </a>
                                                </div>
                                                <div class="col-md-4">
                                                    <a class="card flex-column justfiy-content-start align-items-start text-start w-100 text-gray-800 text-hover-primary p-10" href="">
                                                        <span class="fs-4 fw-bold">
                                                            Deep Cleaning
                                                        </span>
                                                        <span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2" ng-bind="DeepCleaningTS"></span>

                                                    </a>
                                                </div>
                                                <div class="col-md-4">
                                                    <a class="card flex-column justfiy-content-start align-items-start text-start w-100 text-gray-800 text-hover-primary p-10" href="">
                                                        <span class="fs-4 fw-bold">
                                                            Specialize Cleaning
                                                        </span>
                                                        <span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2" ng-bind="SpecializeCleaningTS"></span>

                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="modal-footer flex-center">
                                    <!--begin::Button-->
                                    <button type="reset" data-bs-dismiss="modal" class="btn btn-light me-3">Close</button>
                                    <!--end::Button-->

                                </div>
                                <!--end::Modal footer-->
                                <!--end::Form-->
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="updateuser" tabindex="-1" aria-hidden="true">
                        <!--begin::Modal dialog-->
                        <div class="modal-dialog modal-dialog-centered mw-650px">
                            <!--begin::Modal content-->
                            <div class="modal-content">
                                <!--begin::Form-->
                                <form class="form" name="myUpdateUserForm" novalidate>
                                    <!--begin::Modal header-->
                                    <div class="modal-header" id="kt_modal_add_customer_header">
                                        <!--begin::Modal title-->
                                        <h2 class="fw-bold">Update a User</h2>
                                        <!--end::Modal title-->
                                        <!--begin::Close-->
                                        <div data-bs-dismiss="modal" ng-click="initForm()" class="btn btn-icon btn-sm btn-active-icon-primary">
                                            <i class="ki-outline ki-cross fs-1"></i>
                                        </div>
                                        <!--end::Close-->
                                    </div>
                                    <!--end::Modal header-->
                                    <!--begin::Modal body-->
                                    <div class="modal-body py-10 px-lg-17">

                                        <!--begin::Input group-->
                                        <div class="fv-row mb-4">
                                            <!--begin::Label-->
                                            <label class="required fs-6 fw-semibold mb-2">Name</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" class="form-control" ng-model="txtEditname" placeholder="" name="EName" required />
                                            <!--end::Input-->
                                            <span ng-if="myUpdateUserForm.$submitted && myUpdateUserForm.EName.$invalid" style="color:red">field is required</span>
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="fv-row mb-4">
                                            <!--begin::Label-->
                                            <label class="fs-6 fw-semibold mb-2">Email</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="email" ng-model="txtEditEmail" class="form-control Email" placeholder="" name="Email" />
                                            <span style="color:red" ng-bind="msgVEmail"></span>
                                            <!--end::Input-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="fv-row mb-4">
                                            <!--begin::Label-->
                                            <label class="required fs-6 fw-semibold mb-2">Mobile No</label>
                                            <!--end::Label-->
                                            <input type="text" ng-minlength="8" ng-maxlength="8" minlength="8" maxlength="8" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" id="txtMobileNo" name="MobileENo" size="80" class="form-control" required ng-model="txtEditMobileNo" placeholder="Eg:90000000">
                                            <span ng-if="myUpdateUserForm.$submitted && myUpdateUserForm.MobileENo.$error.minlength"
                                                  style="color:red" ng-bind="msgMinLength || 'Mobile no must be at least 8 digits long.'">

                                            </span><br />

                                            <span ng-if="myUpdateUserForm.$submitted && myUpdateUserForm.MobileENo.$invalid" style="color:red">field is required</span>

                                        </div>
                                        <!--end::Input group-->


                                    </div>
                                    <!--end::Modal body-->
                                    <!--begin::Modal footer-->
                                    <div class="modal-footer flex-center">
                                        <!--begin::Button-->
                                        <button type="reset" ng-click="initForm()" data-bs-dismiss="modal" class="btn btn-light me-3">Discard</button>
                                        <!--end::Button-->
                                        <!--begin::Button-->
                                        <button type="submit" id="kt_modal_add_customer_submit" ng-click="UpdateUser(myUpdateUserForm.$valid)" class="btn btn-primary">
                                            <span class="indicator-label" id="btnUuser">Submit</span>
                                            <span class="indicator-progress" id="btnUuserloader">
                                                Please wait...
                                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>
                                        <!--end::Button-->
                                    </div>
                                    <!--end::Modal footer-->
                                </form>
                                <!--end::Form-->
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="updateteam" tabindex="-1" aria-hidden="true">
                        <!--begin::Modal dialog-->
                        <div class="modal-dialog modal-dialog-centered mw-650px">
                            <!--begin::Modal content-->
                            <div class="modal-content">
                                <!--begin::Form-->
                                <form class="form" name="myUpdateteamForm" novalidate>
                                    <!--begin::Modal header-->
                                    <div class="modal-header" id="kt_modal_add_customer_header">
                                        <!--begin::Modal title-->
                                        <h2 class="fw-bold">Update a Team</h2>
                                        <!--end::Modal title-->
                                        <!--begin::Close-->
                                        <div data-bs-dismiss="modal" ng-click="initForm()" class="btn btn-icon btn-sm btn-active-icon-primary">
                                            <i class="ki-outline ki-cross fs-1"></i>
                                        </div>
                                        <!--end::Close-->
                                    </div>
                                    <!--end::Modal header-->
                                    <!--begin::Modal body-->
                                    <div class="modal-body py-10 px-lg-17">

                                        <!--begin::Input group-->
                                        <div class="fv-row mb-4">
                                            <!--begin::Label-->
                                            <label class="fs-6 fw-semibold mb-2">
                                                <span class="required">Team</span>

                                            </label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <select name="Team" id="ddlETeam" ng-model="txtEditTeam" ng-options="team.ID as team.Value for team in TeamDropdown" aria-label="Select a Role" data-control="select2" data-placeholder="Select a Team..." data-dropdown-parent="#updateteam" class="form-select" required>
                                                <option value="">Select Team...</option>


                                            </select>
                                            <span ng-if="myUpdateteamForm.$submitted && myUpdateteamForm.Team.$invalid" style="color:red">field is required</span>

                                        </div>
                                        <!--begin::Input group-->

                                    </div>
                                    <!--end::Modal body-->
                                    <!--begin::Modal footer-->
                                    <div class="modal-footer flex-center">
                                        <!--begin::Button-->
                                        <button type="reset" ng-click="initForm()" data-bs-dismiss="modal" class="btn btn-light me-3">Discard</button>
                                        <!--end::Button-->
                                        <!--begin::Button-->
                                        <button type="submit" id="kt_modal_add_customer_submit" ng-click="UpdateTeam(myUpdateteamForm.$valid)" class="btn btn-primary">
                                            <span class="indicator-label" id="btnTuser">Submit</span>
                                            <span class="indicator-progress" id="btnTuserloader">
                                                Please wait...
                                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>
                                        <!--end::Button-->
                                    </div>
                                    <!--end::Modal footer-->
                                </form>
                                <!--end::Form-->
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="deleteuser" tabindex="-1" aria-hidden="true">
                        <!--begin::Modal dialog-->
                        <div class="modal-dialog modal-dialog-centered mw-650px">
                            <!--begin::Modal content-->
                            <div class="modal-content">
                                <!--begin::Form-->
                                <form class="form" name="DeleteCleanerForm" novalidate>
                                    <!--begin::Modal header-->
                                    <div class="modal-header" id="kt_modal_add_customer_header">
                                        <!--begin::Modal title-->
                                        <h2 class="fw-bold">Delete Cleaner</h2>
                                        <!--end::Modal title-->
                                        <!--begin::Close-->
                                        <div data-bs-dismiss="modal" class="btn btn-icon btn-sm btn-active-icon-primary">
                                            <i class="ki-outline ki-cross fs-1"></i>
                                        </div>
                                        <!--end::Close-->
                                    </div>
                                    <!--end::Modal header-->
                                    <!--begin::Modal body-->
                                    <div class="modal-body py-10 px-lg-17">
                                        <label class="control-label" style="font-size:16px;">
                                            Are you sure want to delete this Cleaner? <br />
                                            <b style="color:red" ng-bind="txtEditname"></b>
                                        </label>
                                    </div>
                                    <!--end::Modal body-->
                                    <!--begin::Modal footer-->
                                    <div class="modal-footer flex-center">
                                        <!--begin::Button-->
                                        <button type="reset" data-bs-dismiss="modal" class="btn btn-light me-3">Discard</button>
                                        <!--end::Button-->
                                        <!--begin::Button-->
                                        <button type="submit" id="kt_modal_add_customer_submit" ng-click="DeleteTeam()" class="btn btn-primary">
                                            <span class="indicator-label" id="btnDsave">Submit</span>
                                            <span class="indicator-progress" id="btnDloader">
                                                Please wait...
                                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>
                                        <!--end::Button-->
                                    </div>
                                    <!--end::Modal footer-->
                                </form>
                                <!--end::Form-->
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="updatepassword" tabindex="-1" aria-hidden="true">
                        <!--begin::Modal dialog-->
                        <div class="modal-dialog modal-dialog-centered mw-650px">
                            <!--begin::Modal content-->
                            <div class="modal-content">
                                <!--begin::Form-->
                                <form class="form" name="passwordForm" novalidate>
                                    <!--begin::Modal header-->
                                    <div class="modal-header" id="kt_modal_add_customer_header">
                                        <!--begin::Modal title-->
                                        <h2 class="fw-bold">Setup New Password</h2>
                                        <!--end::Modal title-->
                                        <!--begin::Close-->
                                        <div data-bs-dismiss="modal" class="btn btn-icon btn-sm btn-active-icon-primary">
                                            <i class="ki-outline ki-cross fs-1"></i>
                                        </div>
                                        <!--end::Close-->
                                    </div>
                                    <!--end::Modal header-->
                                    <!--begin::Modal body-->
                                    <div class="modal-body py-10 px-lg-17">

                                        <!-- Password field -->
                                        <div class="fv-row mb-8" ng-class="{'has-error': passwordForm.newPassword.$invalid && passwordForm.newPassword.$touched}">
                                            <label class="required fs-6 fw-semibold mb-2">Password</label>
                                            <div class="input-group">
                                                <input type="{{showNewPassword ? 'text' : 'password'}}"
                                                       placeholder="Password"
                                                       ng-model="NewPassword"
                                                       name="newPassword"
                                                       required
                                                       ng-minlength="8"
                                                       class="form-control bg-transparent"
                                                       ng-pattern="/^(?=.*[A-Z])(?=.*[0-9])(?=.*[\W_]).{8,}$/" />
                                                <span class="input-group-text" ng-click="togglePasswordVisibility('newPassword')" style="cursor: pointer;">
                                                    <i class="fa" ng-class="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                                                </span>
                                            </div>
                                            <div class="help-block" style="color:red;" ng-show="passwordForm.newPassword.$error.required && passwordForm.newPassword.$touched">
                                                Password is required.
                                            </div>
                                            <div class="help-block" style="color:red;" ng-show="passwordForm.newPassword.$error.minlength">
                                                Password must be exactly 8 characters long.
                                            </div>
                                            <div class="help-block" style="color:red;" ng-show="passwordForm.newPassword.$error.pattern">
                                                Password must contain at least one uppercase letter, one special character, and one number.
                                            </div>
                                        </div>


                                        <!-- Confirm Password field -->
                                        <div class="fv-row mb-8" ng-class="{'has-error': passwordForm.confirmPassword.$invalid && passwordForm.confirmPassword.$touched}">
                                            <label class="required fs-6 fw-semibold mb-2">Confirm Password</label>
                                            <div class="input-group">
                                                <input type="{{showConfirmPassword ? 'text' : 'password'}}"
                                                       placeholder="Repeat Password"
                                                       ng-model="ConfirmPassword"
                                                       name="confirmPassword"
                                                       required
                                                       ng-minlength="8"
                                                       class="form-control bg-transparent"
                                                       password-match="NewPassword" />
                                                <span class="input-group-text" ng-click="togglePasswordVisibility('confirmPassword')" style="cursor: pointer;">
                                                    <i class="fa" ng-class="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                                                </span>
                                            </div>
                                            <div class="help-block" style="color:red;" ng-show="passwordForm.confirmPassword.$error.passwordMatch && passwordForm.confirmPassword.$touched">
                                                Passwords do not match.
                                            </div>
                                        </div>


                                    </div>
                                    <!--end::Modal body-->
                                    <!--begin::Modal footer-->
                                    <div class="modal-footer flex-center">
                                        <!--begin::Button-->
                                        <button type="reset" data-bs-dismiss="modal" class="btn btn-light me-3">Discard</button>
                                        <!--end::Button-->
                                        <!--begin::Button-->
                                        <button type="submit" ng-disabled="passwordForm.$invalid" id="kt_modal_add_customer_submit" ng-click="SetPassword(passwordForm.$valid)" class="btn btn-primary">
                                            <span class="indicator-label" id="btnPasssave">Submit</span>
                                            <span class="indicator-progress" id="btnPassloader">
                                                Please wait...
                                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>
                                        <!--end::Button-->
                                    </div>
                                    <!--end::Modal footer-->
                                </form>
                                <!--end::Form-->
                            </div>
                        </div>
                    </div>

                </div>
    </div>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/js/utils.min.js"></script>
    <script>
        var input = document.querySelector("#txtMobileNo");
        window.intlTelInput(input, {
            initialCountry: 'qa',
            // any initialisation options go here
        });

    </script>
}